<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
    <string>J38B8DW54U</string>
	<key>provisioningProfiles</key>
  <dict>
    <key>com.sinch.VerificationSample</key>
    <string>VerificationSample AdHoc2</string>
  </dict>
  <key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
</dict>
</plist>